@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans&display=swap');

* {
    margin: 0;
    padding: 0;
    border: 0px;
    box-sizing: border-box;  
}

body {
    height: 100%;
    width: 100%;
}

.header {
    padding: 30px 20px 10px;
    display: flex;
}

.logo {
    background-image: url('https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcRifHyYZsLMEkgRdYyyHrpIWapDZEXc7yAiCg&usqp=CAU');
    height: 50px;
    width: 50px;
    background-size: cover;
    border-radius: 50%;
    margin-right: 10px;
}

.heading h1 {
    color: #4169E1;
    font-size: 50px;
    font-family: "Josefin Sans";
    font-weight: 600;
}

.ExploreButton {
    color: #4169E1;
    background-color: #ffffff;
    margin-right: 0px;
}

.mainContent {
    background-color: #4169E1;
    position:absolute;
    height:100%;
    width:100%;
    display:flex;
    flex-direction: column;
    justify-content:space-around;
}

/* Profile section */
.networth {
    padding: 20px 20px 20px 20px; 
    background-color:#4169E1;
    flex: 1;
    width: 100%;
}

.networth > h3 {
    text-align: center;
    font-family: "Montserrat";
    font-size: 30px;
    font-weight: 800;
    color: #ffffff;
    
}

.profile {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width:100%;
    position: relative;
}

.insights {
    background-color: #ffffff;
    width: 30%;
}

.insights > h3 {
    text-align: center;
}

.insights > p {
    text-align: left;
}

.personalGraph {
    background-color: #ffffff;
    width:65%;
}

.personalGraph > h3 {
    text-align: center;
}

/* Transaction History section */
.transactHistory {
    padding: 20px 20px 20px 20px; 
    background-color:#4169E1;
    flex: 1;
    width: 100%;
    justify-content: space-around; 
}

.transactHistory > h3 {
    text-align: center;
    color: #ffffff;
    font-family: "Montserrat";
    font-size: 30px;
    font-weight: 800;
}

.tableHistory {
    background-color: #ffffff;
}
.columnHeads {
    color: #ffffff
}

/* profit section */

.profit {
    padding: 20px 20px 20px 20px; 
    background-color:#4169E1;
    flex: 1;
    width: 100%;
    justify-content: space-around; 
    flex: 1;
}

.profit > h3 {
    color: #ffffff;
    text-align: center;
}
.profit > h4 {
    color: #ffffff;
 
}

/* favourites */
.favourites {
    flex: 1;
    padding: 20px 20px 20px 20px; 
    background-color:#4169E1;
    width: 100%;
    justify-content: space-around; 
}

.favourites > h3 {
    text-align: center;
    color: #ffffff;
}

