{% load static %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="{% static 'CSS/BuySell.css' %}">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
        <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>
        <script src="https://cdn.amcharts.com/lib/4/core.js"></script>
        <script src="https://cdn.amcharts.com/lib/4/charts.js"></script>
        <script src="//cdn.amcharts.com/lib/4/maps.js"></script>
        <script src="https://www.amcharts.com/lib/4/themes/animated.js"></script>
        <title>Place order</title>
    </head>
    <body>
        <div>
            <!-- Top Navigation Menu -->
            <div class="topnav">
                <a href="place_order" class="active">Place Orders</a>
                <div id="myLinks">
                <a href="portfolio">Portfolio</a>
                <a href="explore">Explore</a>
                <a href="home">Home</a>
                <a href="logout">Log Out</a>
                </div>
                <a href="javascript:void(0);" class="icon" onclick="myFunction()">
                <i class="fa fa-bars"></i>
                </a>
            </div>
            
            <!-- End smartphone / tablet look -->
            </div>
            <script>                                    
                function myFunction() {
                    var x = document.getElementById("myLinks");
                    if (x.style.display === "block") {
                        x.style.display = "none";
                    } else {
                        x.style.display = "block";
                    }
                }
            </script>
        </div>
        <div class="mainContent" style="background-color: #ffffff;">
            <!-- Stock Details -->
            <div class="stockDetails">
                {% if stock %}
                <h2>{{ stock.companyName }}</h2><br>
                <div class="cards">
                    <div class="card" style="border-radius: 0;background-color: #aaa9a9;">
                        <p>Market Capital: <br>{{ stock.marketCap }}</p>
                    </div>
                    <div class="card" style="border-radius: 0;background-color: #aaa9a9;">
                        <p>Volume Traded: <br>{{ stock.volume }}</p>
                    </div>
                    <div class="card" style="border-radius: 0;background-color:#aaa9a9;">
                        <p>Week 52 High Price: <br>{{ stock.week52High }}</p>
                    </div>
                    <div class="card" style="border-radius: 0;background-color: #aaa9a9;">
                        <p>Week 52 Low Price: <br>{{ stock.week52Low }}</p>
                    </div>
                </div><br><br>
                
                <div id="graphs">
                    <script type="text/javascript">
                        var symbol = "{{ stock.symbol }}";
                    </script>
                    <div id="switchGraphs">
                        <a class="btn" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                           <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcQhi1ORRmoXg58Z3Wd4Anh7Jjg95yTrG_BchA&usqp=CAU" class="ToggleIcon">
                          </a>
                        <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                            <button class="dropdown-item" onclick="openGraph(event, 'Candlestick')">Candlestick</button>
                            <button class="dropdown-item" onclick="openGraph(event, 'Line')">Line</button>
                            <button class="dropdown-item" onclick="openGraph(event, 'Bar')">Bar</button>
                        </div>
                    </div>
                    <div id="Candlestick" class="graph" style="display:block;"></div>
                    <div id="Line" class="graph"></div>
                    <div id="Bar" class="graph"></div>
                    <!-- <p>Stock Chart Here! Forms Below.</p> -->
                </div>
            </div>
            
            <br>

            <!-- buySell form -->
            <div class="tab">
                <button class="tablinks" onclick="openForm(event, 'Intraday_Buy')">Intraday Buy</button>
                <button class="tablinks" onclick="openForm(event, 'Intraday_Sell')">Intraday Sell</button>
                <button class="tablinks" onclick="openForm(event, 'Cash_Buy')">Cash Buy</button>
                <button class="tablinks" onclick="openForm(event, 'Cash_Sell')">Cash Sell</button>
            </div>
            <div class="form">
                <form id="Intraday_Buy" class="formElements"  action="place_order" method="POST">
                    {% csrf_token %}
                    <input type="text" style="display:none;" value="{{ stock.symbol }}" name="stock_symbol">
                    <input type="text" style="display:none;" value="IB" name="TRAIT">
                    <input type="text" style="display:None;" name="stock_symbol">
                    Select Price Order Type: <select name="LimitCheck" class="LimitCheck" onchange="switchCL(event, {{ stock.latestPrice }})">
                                                <option value="current">Current Price</option>
                                                <option value="limit">Limit price</option>
                                            </select><br><br>
                    Price: <input type="number" name="price" class="price" placeholder="{{ stock.latestPrice }}"  value="{{ stock.latestPrice }}" readonly step="0.01"><br><br>
                    Quantity: <input type="number" name="quantity" placeholder=""><br><br>
                    Target Price: <input type="number" name="TargetPrice" placeholder="" step="0.01">
                    Stop Loss: <input type="number" name="StopLoss" placeholder="" step="0.01"><br><br>
                    Order type: <select name="OrderType" class="OrderType"><br><br>
                                    <option value="GTC">Good Till Day</option>
                                </select><br><br>
                    <button onclick="" type="submit">Place Order</button>
                </form> 
                <form id="Intraday_Sell" class="formElements"  action="place_order" method="POST">
                    {% csrf_token %}
                    <input type="text" style="display:none;" value="IS" name="TRAIT">
                    <input type="text" style="display:none;" value="{{ stock.symbol }}" name="stock_symbol">
                    Select Price Order Type: <select name="LimitCheck" class="LimitCheck" onchange="switchCL(event,{{ stock.latestPrice }})">
                                                <option value="current">Current Price</option>
                                                <option value="limit">Limit price</option>
                                             </select><br><br>
                    Price: <input type="number" name="price" class="price" placeholder="{{ stock.latestPrice }}"  value="{{ stock.latestPrice }}" readonly step="0.01"><br><br>
                    Quantity: <input type="number" name="quantity" placeholder=""><br><br>
                    Target Price: <input type="number" name="TargetPrice" placeholder="" step="0.01">
                    Stop Loss: <input type="number" name="StopLoss" placeholder="" step="0.01"><br><br>
                    Order type: <select name="OrderType" class="OrderType"><br><br>
                                    <option value="GTC">Good Till Day</option>
                                </select><br><br>
                    <button onclick="" type="submit">Place Order</button>
                </form>
                <form id="Cash_Buy" action="" class="formElements"  action="place_order" method="POST">
                    {% csrf_token %}
                    <input type="text" style="display:none;" value="CB" name="TRAIT">
                    <input type="text" style="display:none;" value="{{ stock.symbol }}" name="stock_symbol">
                    Select Price Order Type: <select name="LimitCheck" class="LimitCheck" onchange="switchCL(event,{{ stock.latestPrice }})">
                        <option value="current">Current Price</option>
                        <option value="limit">Limit price</option>
                    </select><br><br>
                    Price: <input type="number" name="price" class="price" placeholder="{{ stock.latestPrice }}" value="{{ stock.latestPrice }}" readonly step="0.01"><br><br>
                    Quantity: <input type="number" name="quantity" placeholder=""><br><br>
                    Target Price: <input type="number" name="TargetPrice" placeholder="" step="0.01">
                    Stop Loss: <input type="number" name="StopLoss" placeholder="" step="0.01"><br><br>
                    Order type: <select name="OrderType" class="OrderType"><br><br>
                                    <option value="GTC">Good Till Day</option>
                                    <option value="GTD">Good Till Cancelled</option>
                                </select><br><br>
                    <button onclick="" type="submit">Place Order</button>
                </form>
                <form id="Cash_Sell" class="formElements"  action="place_order" method="POST">
                    {% csrf_token %}
                    <input type="text" style="display:none;" value="CS" name="TRAIT">
                    <input type="text" style="display:none;" value="{{ stock.symbol }}" name="stock_symbol">
                    Select Price Order Type: <select name="LimitCheck" class="LimitCheck" onchange="switchCL(event,{{ stock.latestPrice }})">
                        <option value="current">Current Price</option>
                        <option value="limit">Limit price</option>
                    </select><br><br>
                    Price: <input type="number" name="price" class="price" placeholder="{{ stock.latestPrice }}"  value="{{ stock.latestPrice }}" readonly step="0.01"><br><br>
                    Quantity: <input type="number" name="quantity" placeholder=""><br><br>
                    Target Price: <input type="number" name="TargetPrice" placeholder="" step="0.01">
                    Stop Loss: <input type="number" name="StopLoss" placeholder="" step="0.01"><br><br>
                    Order type: <select name="OrderType" class="OrderType"><br><br>
                                    <option value="GTC">Good Till Day</option>
                                    <option value="GTD">Good Till Cancelled</option>
                                </select><br><br>
                    <button onclick="" type="submit">Place Order</button>
                </form>
            </div>
        </div>
        {% endif %}
        <!-- link to JS file-->
        <script src="{% static 'JS/searchBar.js' %}"></script>
        <script src="{% static 'JS/graphs.js' %}"></script>
    </body>
</html>