{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'CSS/Body.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat&display=swap" rel="stylesheet"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <title>Home</title>
</head>
<body>
  <div>
    <!-- Top Navigation Menu -->
    <div class="topnav" style="background: #4169E1;">
      <a href="home" style="background: #4169E1;" class="active">Home</a>
      <div id="myLinks">
        <a href="portfolio">Portfolio</a>
        <a href="home">Explore Stocks</a>
        <a href="logout">Log Out</a>
      </div>
      <a href="javascript:void(0);" class="icon" onclick="myFunction()">
        <i class="fa fa-bars"></i>
      </a>
    </div>
    <!-- End smartphone / tablet look -->
    <div class="header">
        <div class="heading"><h1>SQUARE OFF</h1></div>
    </div>
    <!-- Main Body -->
    <div class="mainContent">
      <div class="trends">
      </div>
      <!-- stock search bar -->
      <div class="searchBar">
        <input id="searchbar" type="text" style="border: 1px solid lightgray;" name="search" placeholder="Enter stock symbol...">
        <button class="searchButton btn" onclick="search_api()"><i stye="display:inline;"class="fa fa-search fa-2x" aria-hidden="true"></i></button><br><br>
        <form method="GET" id="searchOption" action="place_order">
            <input id="ss" name="ss" style="display: none;">
        </form>
        <br><br>
          <center><h3 style="color: #a8a7a798;" id="watermark">The link to the stock you searched will be displayed</h3></center>
      </div> 
    </div>
  </div>
  <!-- Site footer -->
  <footer class="site-footer">
          <div class="container">
            <div class="row">
              <div class="col-sm-12 col-md-6">
                <h6>About</h6>
                <p class="text-justify">Square Off <br><i>Learn to be a Professional trader</i></p>
              </div>
              <div class="col-xs-6 col-md-3">
                <h6>Members</h6>
                <ul class="footer-links">
                  <li><a href="#">About Us</a></li>
                  <li><a href="#">Contact Us</a></li>
                  <li><a href="#">Contribute</a></li>
                </ul>
              </div>
            </div>
            <hr>
          </div>
          <div class="container">
            <div class="row">
              <div class="col-md-8 col-sm-6 col-xs-12">
                <p class="copyright-text">Copyright &copy; 2020 All Rights Reserved by 
              <a href="#">Square Off</a>.
                </p>
              </div>
            </div>
          </div>
    </footer>
    <!-- link to JS file-->
    <script src="{% static 'JS/searchBar.js' %}"></script>
</body>
</html>
