{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'CSS/Login.css' %}">
    <title>Login</title>
</head>
<body>
    <div class="outer">
        <div class="middle">
            <div class="inner">
                <h1>SQUARE OFF</h1>
                <h2 id="heading">Sign in!</h2>
                {% if message %}
                <br>
                    <div class="alert alert-warning alert-dismissible fade show" role="alert">
                        <strong>{{ message }}</strong>
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                            <span aria-hidden="true" style="float: right;">&times;</span>
                        </button>
                    </div>   
                {% endif %}
                <form action="login" method="POST">
                    {% csrf_token %}
                    <input type="text" class="form-control" name="username" placeholder="Username">
                    <input name="password" class="form-control" type="password" placeholder="Password">
                    <button type="submit" class="btn btn-dark">Login</button>
                    <!--Implement user forgets username or password-->
                </form>
                <p>New to Square Off? <a href="register">Create an account.</a></p>
            </div>
        </div>
    </div>
</body>
</html>
