{% load static %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <link rel="stylesheet" href="{% static 'CSS/Portfolio.css' %}">
        <link href="https://fonts.googleapis.com/css2?family=Montserrat&display=swap" rel="stylesheet"/>
        <title></title>
    </head>
    <body>
        <div class="header">
            <div class="logo"></div>
            <div class="heading"><h1>Hello, Trader</h1></div>
        </div>
        <div class = "mainContent1">
            <div class = "networth">
                <h3>Net Worth</h3>
                <p>{{ net_worth }}</p>
            </div>
            <div class = profit">
                <h3>Profit</h3>
                <p>{{ profit }}</p>
            </div>
        </div>
        <div class = "mainContent2">
            <div class = "transactHistory">
                <h3>Transaction history</h3>
            </div>
            <div class = "favourites">
                <h3>Favourites</h3>
            </div>
        </div>
    </body>
</html>