{% load static %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <link rel="stylesheet" href="{% static 'CSS/Portfolio.css' %}">
        <link href="https://fonts.googleapis.com/css2?family=Montserrat&display=swap" rel="stylesheet"/>
        <title></title>
    </head>
    <body>
        <div class="header">
            <div class="logo"></div>
            <div class="heading"><h1>Hello, Trader</h1></div>
        </div>
        <div class = "transactionHistory">
            <h3>Transaction History</h3>
        </div>
    </body>
</html>