{% load static %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
        <link rel="stylesheet" href="{% static 'CSS/Register.css' %}">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">   
        <title>Home</title>
    </head>
    <body>
        <!--- Main Display --->
        <div class="main">
            <header>
                <a href="#" class="logo">VirtualStox</a>
                <div class="toggle"></div>
                <button class="btn btn-light" type="button" class="btn btn-light">
                    <a href="login" id="sign-in">Already have an account? Sign in!</a>
                </button>
            </header>
            <div class="content">
                <h2>Become a Professional Trader</h2>
                <br><br>
                <p>
                    Lorem ipsum dolor, sit amet consectetur adipisicing elit. Harum eaque consequuntur eum tempora culpa commodi iusto asperiores pariatur voluptas repudiandae necessitatibus.
                </p>
                <a href="#register">
                    <img src="{% static 'Images/ScrollDown.png' %}" alt="Arrow">
                </a>
            </div>
        </div>
        <!--- About --->
        <section class="about">
            <div class="contentAbout">
                <h2 class="heading">About Us</h2>
                <p class="text"><br>Lorem ipsum dolor sit amet consectetur adipisicing elit. Exercitationem minima, sit voluptate sunt vel eveniet blanditiis?<br><br>Lorem ipsum dolor sit amet consectetur adipisicing elit. Minima, veniam maiores? Ex, dolorum. Sequi aperiam quas nobis veniam fugit velit doloremque consequatur facere temporibus beatae.</p>
            </div>
            <div class="imgAbout" style="background-image: url('https://images.pexels.com/photos/669610/pexels-photo-669610.jpeg?auto=compress&cs=tinysrgb&dpr=2&w=500');">
            </div>
        </section>
        <!--- Ruleset --->
        <section class="ruleset">
            <div class="contentRuleset">
                <h2>Ruleset</h2><br>
                <p class="textRuleset">Beginner in stock trading? No worries. We provide simple rules which are easy to follow. Lorem, ipsum dolor sit amet consectetur adipisicing elit. Veritatis magnam nobis est recusandae dolorum nulla vero quos natus nemo numquam</p><br>
                <button class="rulesetButton">Go to Ruleset</button>
            </div>
        </section>
        <!--- Register --->
        <h2 class="heading" id="sign-up"> Sign Up Now! </h2>
        {% if message %}
            <div id="error">{{ message }}</div>
        {% endif %}
        <div id="register">
            <form action="register" method="POST">
                {% csrf_token %}
                <input class="form-control" type="text" name="first_name" placeholder="First Name">
                <input class="form-control" type="text" name="last_name" placeholder="Last Name">
                <input class="form-control" type="text" name="username" placeholder="Username">
                <input class="form-control" type="password" name="password" placeholder="Password">
                <button class="btn btn-primary" type="submit">Submit</button>
            </form>
        </div>
        <!--- Footer --->
    </body>
</html>