{% load static %}
<!DOCTYPE html>
<html lang="en" style="scroll-behavior:smooth;">
    <head>
        <meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
        <link rel="stylesheet" href="{% static 'CSS/Register.css' %}">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">   
        <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
        <title>Home</title>
    </head>
    <body>
        <!--- Main Display --->
        <div class="main">
            <header>
                <a href="#" class="logo">SQUARE OFF</a>
                <a class="signInButton" href="login">Sign in</a>
            </header>
            <div class="content">
                <h2>Become a Professional Trader</h2>
                <br><br>
                <p>
                    Stock Trading can be scary. Who knows by how much the prices would go up or fall down the very next minute? Which is why, we provide a Virtual Stock Trading Simulator, where you can learn by using virtual currency on REAL WORLD data!
                </p>
                <a href="#container">
                    <button class="signUpButton">Sign up now!</button>
                </a>
            </div>
        </div>
        <!--- About --->
        <section class="about">
            <div class="contentAbout">
                <h2 class="heading">About Us</h2>
                <p class="text"><br>Did you know that Warrent Buffet started trading at the age of 11? According to him, he was still too late! A lot of people shy away from trading due to fear of risking one's own finances.<br><br>Our mission is to give beginners a first-hand experience in real world trading, without risking your finances, because the best way to learn is to get your hands dirty!</p>
            </div>
            <div class="imgAbout" style="background-image: url('https://images.pexels.com/photos/669610/pexels-photo-669610.jpeg?auto=compress&cs=tinysrgb&dpr=2&w=500');">
            </div>
        </section>
        <!--- Ruleset --->
        <section class="ruleset">
            <div class="contentRuleset">
                <h2>Ruleset</h2><br>
                <p class="textRuleset">Beginner in stock trading? No worries. We provide simple rules which are easy to follow. These rules are intentionally very much inspired from the real world of stock-trading. Don't worry though! You can always reset your virtual balance!</p><br>
                <a class="rulesetButton" href="ruleset">Go to Ruleset</a>
            </div>
        </section>
        <!--- Register --->
        <div class="container" id="container">
            {% if message %}
            <div class="alert alert-warning alert-dismissible fade show" role="alert">
                <strong>{{ message }}</strong>
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            {% endif %}
            <h3 class="heading" style="margin-bottom: 30px; font-size: 40px;"> Sign Up Now! </h3>
            <form action="register" method="POST">
                {% csrf_token %}
                <input style="margin: 10px;" class="form-control" type="text" name="first_name" placeholder="First Name">
                <input style="margin: 10px;" class="form-control" type="text" name="last_name" placeholder="Last Name">
                <input style="margin: 10px;" class="form-control" type="text" name="username" placeholder="Username">
                <input style="margin: 10px;" class="form-control" type="password" name="password" placeholder="Password">
                <input style="margin: 10px;" class="form-control" type="password" name="cpassword" placeholder="Confirm password">
                <button class="btn btn-primary" style="width: 100%; margin: 10px" type="submit">Submit</button>
            </form>
            <h5 style="margin: 30px">
                Already a user? 
                <a href="login">Sign In!</a> 
            </h5>
        </div>
        <!--- Footer --->
        
    </body>
</html>
